<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <title>Primeira aplicação</title>
</head>
<body>
    <h1>Estamos no arquivo index.html!</h1>
    <button
    onclick="hey()">
    Hey
    </button>
    <p>{{minha_primeira_variavel}}</p>
    <img src="{% static 'images/image.jpg' %}" alt="dog">
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>